---
import Layout from "../Layouts/layout.astro";
---

<Layout title="The Beale Cipher Story">
    <main
        class="flex flex-col lg:flex-row justify-center w-full max-w-full mt-16"
    >
        <div class="flex flex-row mx-auto">
            <h1 class="text-2xl font-bold">The Beale Ciphers Story</h1>
        </div>
    </main>
</Layout>
