---
import Layout from "../layouts/layout.astro";
import BealeDecoder from "../components/bealedecoder.astro";
---

<Layout title="Beale Cipher Decoder">
    <main
        class="flex flex-col lg:flex-row justify-center align-middle w-full max-w-full mt-10"
    >
        <div class="m-auto lg:w-full">
            <BealeDecoder />
        </div>
    </main>

    <style></style>
</Layout>
