---
import Layout from "../layouts/layout.astro";
import EncoderForm from "../components/EncoderForm.astro";
---

<Layout title="Book Cipher Encoder">
    <main
        class="flex flex-col mt-16 justify-center align-middle w-full max-w-full"
    >
        <div class="m-auto lg:w-full">
            <EncoderForm />
        </div>
    </main>
</Layout>
