---
import Layout from "../layouts/Layout.astro";
import Form from "../components/form.astro";
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center align-middle">
		<div class="m-auto">
			<Form />
		</div>
	</main>

	<style></style>
</Layout>
