---
import OptionsDropdown from "../components/optionsDropdown.astro";
import Results from "../components/Results.astro";

let keyOptions = [
    {
        labelText: "Replace line breaks with spaces",
        id: "keyLineBreaks",
        checked: true,
    },
    {
        labelText: "Treat hyphenated items as 2 separate words",
        id: "keyHyphenatedItems",
    },
];
---

<div class="flex flex-col w-full lg:flex-row px-1">
    <form action="" class="w-full">
        <div class="mt-2">
            <label for="message" class="text-xl font-semibold"
                >Your Message</label
            >
            <p class="text-sm italic mb-2">
                Enter the message you would like to encode
            </p>
            <textarea
                name="message"
                id="message"
                rows="10"
                class="border-2 border-stone-500 rounded resize w-full bg-slate-800 p-2 focus:outline-0 focus:shadow-md focus:shadow-stone-600 transition-all duration-200 ease-in-out"
            ></textarea>
        </div>
        <div class="mt-2">
            <label for="key" class="text-xl font-semibold">The Key</label>
            <p class="text-sm italic">
                Enter the key you would like to use to encode your message
            </p>
            <textarea
                name="key"
                id="key"
                rows="10"
                class="border-2 border-stone-500 rounded resize w-full bg-slate-800 p-2 focus:outline-0 focus:shadow-md focus:shadow-stone-600 transition-all duration-200 ease-in-out"
            ></textarea>
        </div>
        <div class="flex flex-row justify-between my-2">
            <OptionsDropdown
                title="Key Options"
                description="Select the options you would like to use for your key"
                options={keyOptions}
            />
            <button
                id="encodeButton"
                type="button"
                class="border-2 border-stone-400 bg-transparent p-[0.45rem] lg:p-2 rounded hover:bg-stone-400 hover:text-gray-800 transition-all duration-200 ease-in-out"
                >Encode</button
            >
        </div>
    </form>
    <div id="results" class="w-full flex flex-col my-4">
        <Results paragraphId="encodedMessage" title="Encoded Message" />
    </div>
</div>

<script src="../ts/encoderForm.ts"></script>
