<div class="h-16 mt-6 bg-gray-900 w-full bottom-0 relative px-2">
    <div class="bottom-0 right-0 w-full text-end">
        <p class="italic text-sm text-gray-300">
            Website created by Dagan Cardinal - 2023
        </p>
    </div>
</div>
