<nav
    class="flex flex-row flex-nowrap max-w-full w-full bg-slate-700 shadow h-16 top-0 fixed z-50"
>
    <!-- Non-mobile Navbar -->
    <div class="hidden md:flex flex-row w-full">
        <div class="flex flex-row flex-nowrap w-full">
            <div class="flex flex-row my-auto ms-8">
                <a href="/" class="text-2xl font-semibold text-slate-200"
                    >Beale Decoder</a
                >
            </div>
            <div class="flex flex-row relative ms-12 my-auto">
                <div
                    class="my-2 hover:text-gray-400 text-gray-200 transition-all duration-200 ease-in-out mx-4"
                >
                    <a
                        class="text-lg font-semibold tracking-wide"
                        href="/beale-decoder">Beale Decoder</a
                    >
                </div>
                <div
                    class="my-2 hover:text-gray-400 text-gray-200 transition-all duration-200 ease-in-out mx-4"
                >
                    <a
                        class="text-lg font-semibold tracking-wide"
                        href="/how-it-works">How It Works</a
                    >
                </div>
                <div
                    class="my-2 hover:text-gray-400 text-gray-200 transition-all duration-200 ease-in-out mx-4"
                >
                    <a class="text-lg font-semibold tracking-wide" href="/about"
                        >The Story</a
                    >
                </div>
                <div
                    class="my-2 hover:text-gray-400 text-gray-200 transition-all duration-200 ease-in-out mx-4"
                >
                    <a
                        class="text-lg font-semibold tracking-wide"
                        href="/encoder">Encoder</a
                    >
                </div>
                <div
                    class="my-2 hover:text-gray-400 text-gray-200 transition-all duration-200 ease-in-out mx-4"
                >
                    <a
                        class="text-lg font-semibold tracking-wide"
                        href="/custom-decoder">Custom Decoder</a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Navbar -->
    <div class="md:hidden flex flex-row w-full px-4">
        <div class="flex w-full justify-between">
            <div class="flex flex-row my-auto" id="logo">
                <a href="/" class="text-2xl font-semibold text-slate-300"
                    >Beale Decoder</a
                >
            </div>
            <div class="flex flex-row my-auto" id="mobileNavButton">
                <svg
                    viewBox="0 0 100 90"
                    id="listOpenButton"
                    class="stroke-stone-300 stroke-[10] h-12 w-12 round"
                >
                    <line
                        class="topLine line"
                        x1="10"
                        x2="90"
                        y1="20"
                        y2="20"
                        stroke-linecap="round"
                        stroke-dasharray="80"
                        stroke-dashoffset="0"
                    >
                    </line>
                    <line
                        class="middleLine line"
                        x1="10"
                        x2="90"
                        y1="45"
                        y2="45"
                        stroke-linecap="round"
                        stroke-dasharray="80"
                        stroke-dashoffset="0"
                    >
                    </line>
                    <line
                        class="bottomLine line"
                        x1="90"
                        x2="10"
                        y1="70"
                        y2="70"
                        stroke-linecap="round"
                        stroke-dasharray="80"
                        stroke-dashoffset="0"
                    >
                    </line>
                </svg>
            </div>
            <div
                class="invisible h-0 flex flex-col bg-slate-700 shadow right-0 absolute top-16 w-full h-vh pe-2 py-4 place-items-end"
                id="mobileNavElements"
            >
                <div class="my-3" id="mobileNavElem">
                    <a
                        class="text-xl tracking-wide text-slate-300"
                        href="/beale-decoder">Beale Decoder</a
                    >
                </div>
                <div class="my-3" id="mobileNavElem">
                    <a
                        class="text-xl tracking-wide text-slate-300"
                        href="/how-it-works">How It Works</a
                    >
                </div>
                <div class="my-3" id="mobileNavElem">
                    <a
                        class="text-xl tracking-wide text-slate-300"
                        href="/about">The Story</a
                    >
                </div>
                <div class="my-3" id="mobileNavElem">
                    <a
                        class="text-xl tracking-wide text-slate-300"
                        href="/encoder">Encoder</a
                    >
                </div>
                <div class="my-3" id="mobileNavElem">
                    <a
                        class="text-xl tracking-wide text-slate-300"
                        href="/custom-decoder">Custom Decoder</a
                    >
                </div>
            </div>
        </div>
    </div>
</nav>

<style>
    #mobileNavElements.invisible {
        filter: blur(5px);
        transition: all 0.5s ease-in-out;
        transform: translateX(100%);
    }
    #mobileNavElements {
        filter: blur(0px);
        transition: all 0.5s ease-in-out;
        transform: translateX(0%);
        height: 100vh;
    }
    #mobileNavButton .line.topLine {
        --rotation: 45deg;
        transform-origin: 0px 30px;
    }
    #mobileNavButton .line.middleLine {
        --rotation: 45deg;
        --opacity: 0;
        transform-origin: 35px 40px;
    }
    #mobileNavButton .line.bottomLine {
        --rotation: -45deg;
        transform-origin: 35px 75px;
    }
    #mobileNavButton[aria-expanded="true"]
        :is(.topLine, .middleLine, .bottomLine) {
        animation: to-close-icon 1s forwards;
    }
    #mobileNavButton[aria-expanded="false"]
        :is(.topLine, .middleLine, .bottomLine) {
        animation: to-burger-icon 1s forwards;
    }

    @keyframes to-close-icon {
        0% {
            stroke-dashoffset: 0;
        }
        30% {
            stroke-dashoffset: 79;
            rotate: calc(var(--rotation));
        }
        50% {
            stroke-dashoffset: 79;
            rotate: calc(var(--rotation));
            opacity: calc(var(--opacity));
        }
        100% {
            stroke-dashoffset: 0;
            opacity: var(--opacity);
            rotate: var(--rotation);
        }
    }

    @keyframes to-burger-icon {
        0% {
            stroke-dashoffset: 0;
            opacity: var(--opacity);
            rotate: var(--rotation);
        }
        30% {
            stroke-dashoffset: 79;
            rotate: calc(var(--rotation));
            opacity: calc(var(--opacity));
        }
        50% {
            stroke-dashoffset: 79;
            rotate: calc(var(--rotation));
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
</style>

<script>
    const mobileNavElements = document.getElementById("mobileNavElements");
    const mobileNavButton = document.getElementById("mobileNavButton");
    const listOpenButton = document.getElementById("listOpenButton");
    const listCloseButton = document.getElementById("listCloseButton");
    mobileNavButton?.addEventListener("click", () => {
        mobileNavElements?.classList.toggle("invisible");
        if (
            !mobileNavButton.getAttribute("aria-expanded") ||
            mobileNavButton.getAttribute("aria-expanded") === "false"
        ) {
            mobileNavButton.setAttribute("aria-expanded", "true");
        } else {
            mobileNavButton.setAttribute("aria-expanded", "false");
        }
    });
</script>
