---
import HamburgerIcon from "../components/hamburgerIcon.astro";
---

<nav
    class="flex flex-row flex-nowrap max-w-full w-full bg-slate-700 shadow h-16 top-0 fixed z-50"
>
    <!-- Non-mobile Navbar -->
    <div class="hidden md:flex flex-row w-full">
        <div class="flex flex-row flex-nowrap w-full">
            <div class="flex flex-row my-auto ms-8">
                <a href="/" class="text-2xl font-semibold text-slate-200"
                    >Beale Decoder</a
                >
            </div>
            <div class="flex flex-row relative ms-12 my-auto">
                <div
                    class="my-2 hover:text-gray-400 text-gray-200 transition-all duration-200 ease-in-out mx-4"
                >
                    <a
                        class="text-lg font-semibold tracking-wide"
                        href="/beale-decoder">Beale Decoder</a
                    >
                </div>
                <div
                    class="my-2 hover:text-gray-400 text-gray-200 transition-all duration-200 ease-in-out mx-4"
                >
                    <a
                        class="text-lg font-semibold tracking-wide"
                        href="/how-it-works">How It Works</a
                    >
                </div>
                <div
                    class="my-2 hover:text-gray-400 text-gray-200 transition-all duration-200 ease-in-out mx-4"
                >
                    <a class="text-lg font-semibold tracking-wide" href="/about"
                        >The Story</a
                    >
                </div>
                <div
                    class="my-2 hover:text-gray-400 text-gray-200 transition-all duration-200 ease-in-out mx-4"
                >
                    <a
                        class="text-lg font-semibold tracking-wide"
                        href="/encoder">Encoder</a
                    >
                </div>
                <div
                    class="my-2 hover:text-gray-400 text-gray-200 transition-all duration-200 ease-in-out mx-4"
                >
                    <a
                        class="text-lg font-semibold tracking-wide"
                        href="/custom-decoder">Custom Decoder</a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Navbar -->
    <div class="md:hidden flex flex-row w-full px-4">
        <div class="flex w-full justify-between">
            <div class="flex flex-row my-auto" id="logo">
                <a href="/" class="text-2xl font-semibold text-slate-300"
                    >Beale Decoder</a
                >
            </div>
            <div class="h-10 w-10 flex flex-row my-auto" id="mobileNavButton">
                <HamburgerIcon />
            </div>
            <div
                class="invisible h-0 flex flex-col bg-slate-700 shadow right-0 absolute top-16 w-full h-vh pe-2 py-4 place-items-end"
                id="mobileNavElements"
            >
                <div class="my-3" id="mobileNavElem">
                    <a
                        class="text-xl tracking-wide text-slate-300"
                        href="/beale-decoder">Beale Decoder</a
                    >
                </div>
                <div class="my-3" id="mobileNavElem">
                    <a
                        class="text-xl tracking-wide text-slate-300"
                        href="/how-it-works">How It Works</a
                    >
                </div>
                <div class="my-3" id="mobileNavElem">
                    <a
                        class="text-xl tracking-wide text-slate-300"
                        href="/about">The Story</a
                    >
                </div>
                <div class="my-3" id="mobileNavElem">
                    <a
                        class="text-xl tracking-wide text-slate-300"
                        href="/encoder">Encoder</a
                    >
                </div>
                <div class="my-3" id="mobileNavElem">
                    <a
                        class="text-xl tracking-wide text-slate-300"
                        href="/custom-decoder">Custom Decoder</a
                    >
                </div>
            </div>
        </div>
    </div>
</nav>

<style>
    #mobileNavElements.invisible {
        filter: blur(5px);
        transition: all 0.5s ease-in-out;
        transform: translateX(100%);
    }
    #mobileNavElements {
        filter: blur(0px);
        transition: all 0.5s ease-in-out;
        transform: translateX(0%);
        height: 100vh;
    }
</style>

<script>
    const mobileNavElements = document.getElementById("mobileNavElements");
    const mobileNavButton = document.getElementById("mobileNavButton");
    const listOpenButton = document.getElementById("listOpenButton");
    const listCloseButton = document.getElementById("listCloseButton");
    mobileNavButton?.addEventListener("click", () => {
        mobileNavElements?.classList.toggle("invisible");
        if (
            !mobileNavButton.getAttribute("aria-expanded") ||
            mobileNavButton.getAttribute("aria-expanded") === "false"
        ) {
            mobileNavButton.setAttribute("aria-expanded", "true");
        } else {
            mobileNavButton.setAttribute("aria-expanded", "false");
        }
    });
</script>
